@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --sub-background: 200 33.33% 98.24%;
    --sub-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 225.4, 80.43%, 53.92%;
    --primary-foreground: 214 100% 96.9%;

    --secondary: 210 50% 93.7%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215 20% 35%;

    --accent: 210 50% 93.7%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --second-border: 0 0% 95.29%;

    --radius: 0.5rem;

    --radius-message: 1.2rem;

    --sidebar-width: 75px;
    --sidebar-length: 45px;

    --chat-warning: 348.92 97.01% 60.59%
  }

  .dark {
    --background: 214.29 13.73% 10%;
    --foreground: 214 100% 96.9%;

    --sub-background: 213.33 11.69% 15.1%;
    --sub-foreground: 214 100% 96.9%;

    --card: 0 0% 5%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 225 84% 49%;
    --primary-foreground: 214 100% 96.9%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 28% 15%;
    --muted-foreground: 226.67 4.39% 40.2%;

    --accent: 215 28% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 0, 0%, 18.82%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --second-border: 0 0% 6.27%;

  }
}



/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */


@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-sub-background: hsl(var(--sub-background));
  --color-sub-foreground: hsl(var(--sub-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-second-border: hsl(var(--second-border));

  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-mes: var(--radius-message);

  --color-chat-warning: hsl(var(--chat-warning));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* @apply bg-background text-foreground font-sans; */
  @apply bg-background text-foreground;
  font-family: -apple-system, system-ui, sans-serif !important;
}

/* Reaction Floating */
@keyframes floatUp {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.9;
  }

  100% {
    transform: translateY(-300px) scale(1.4);
    opacity: 0;
  }
}

.reaction {
  position: absolute;
  bottom: 20px;
  animation: floatUp 3s ease-out forwards;
  pointer-events: none;
  user-select: none;
}

.shadow-float {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

.shadow-top {
  box-shadow: 0 -6px 10px -6px rgba(0, 0, 0, 0.12);
}

.shadow-bottom {
  box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.15);
}